$font-family: "Roboto", "Inter", sans-serif;

$main-color: #333;
$secondary-color: #2196f3;

$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881a1;
$input-text-active: #bfd2ff;

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: $main-color;
  color: $secondary-color;
  box-sizing: border-box;
  font-family: $font-family;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 2px 20px #d7dfe2; /* Card outline shadow */
  border-radius: 0.5rem;
  position: relative;
  width: 350px;
  margin: 1rem;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}

.action-buttons {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background: red;
  padding: 0.5rem 1.3rem 0.5rem 1rem;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  top: 1rem;
  border-radius: 0 2rem 2rem 0;

  *:first-child {
    margin-right: 10px;
  }
}

.card-body {
  margin: 4rem 1rem 1rem 1rem;
}

.card-title {
  line-height: 1.5rem;
  margin: 1rem 0 0.5rem;
}

.card-description {
  color: $secondary-color;
  font-size: 0.9rem;
}

.card-profile {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.card-profile-info {
  margin-left: 1rem;
}

.profile-name {
  font-size: 1rem;
}

.profile-followers {
  color: #616b74;
  font-size: 0.8rem;
}

// gradient animation
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
  background: $input-background;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(
      to right,
      #b294ff,
      #57e6e6,
      #feffb8,
      #57e6e6,
      #b294ff,
      #57e6e6
    );
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }

  input {
    flex-grow: 1;
    color: $input-text-active;
    background-color: $main-color;
    font-size: 1rem;
    line-height: 1.4rem;
    vertical-align: middle;
    width: 100%;
    &::-webkit-input-placeholder {
      color: $input-text-inactive;
    }
  }

  button {
    color: $input-text-inactive;
    font-size: 1.4rem;
    line-height: 1.4rem;
    vertical-align: middle;
    transition: color 0.25s;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    &:hover {
      color: $input-text-active;
    }
  }
}
textarea {
  height: 200px!important;
  width: 100%;
  color: $input-text-active;
  background-color: $main-color;
}
